---
import FaqCard from "./faqCard.astro";

const {faqData} = Astro.props;
---

<div class="flex flex-col gap-6 my-[20px]">
    {
        faqData.map((faq : any)=> <FaqCard id={faq.id} question={faq.question} answer={faq.answer}/>)
    }
</div>

<script>
    const faqQuestion = document.querySelectorAll("#faqQuestion");
    faqQuestion.forEach((singleQnA) => {
    singleQnA.addEventListener("click", function () {
        this.lastElementChild.classList.toggle('hidden');
        this.firstElementChild.classList.toggle('rounded-b-none');
        this.firstElementChild.lastElementChild.classList.toggle('rotate-90');
        console.log(this.lastElementChild)
    });
  });
</script>