---
const {id,answer,question} = Astro.props
---

<div class="cursor-pointer" id="faqQuestion">
    <h1 class= "bg-[#EE9471]"><span>{id}....</span>{question}</h1>
    <div class="hidden boeder border-black">{answer}</div>
</div>