---
import MainLayout from "../layouts/MainLayout.astro";
import FaqContainer from "../components/faq/faqContainer.astro";

export async function getStaticPaths() {
  const markdowns = await Astro.glob("../markdowns/*.md");
  return markdowns.map((single) => ({
    params: {
      category: single.frontmatter.slug,
    },
    props: {
      single,
    },
  }));
}

const {Content,frontmatter} = Astro.props.single;

const faqs = frontmatter.faqs;
---
  <MainLayout title={frontmatter.title}>
  <div class="mt-[80px]"/>
  <div>
    <a href="/" class="underline">MainPage</a>
      <span> > {frontmatter.title}</span>
  </div>
  <div class="mx-[10px] flex flex-col items-center">
    <div class="w-[90vw]"><Content/></div>
    <FaqContainer faqData={faqs}/>
  </div>

</MainLayout>