---
import MainLayout from "../layouts/MainLayout.astro";
import Reading from '../image/reading.png';
import ArticleCard from "../components/articleCard.astro";
const posts =await Astro.glob('../articles/*.md');
---
<MainLayout title="Articles">
    <div class="mt-[80px]"/>
    <div>
        <a href="/" class="underline ml-[3vw] text-blue-900 font-semibold">MainPage</a><span> / Article</span>
      </div>
    <div class="w-screen relative h-[80px]">
        <div class="absolute bottom-0 bg-white w-screen h-[60px]"></div>
        <img src={Reading} class="absolute bg-white top-0 left-[15%] w-[76px] h-[76px] border-[4px] border-white rounded-full"/>
    </div>  
    <div class="flex flex-col gap-[20px] bg-white">
        {
            posts.map(post => {
                return(
                <ArticleCard frontmatter={post.frontmatter} Content={post.Content}
                />
            )})
        }
    </div>
</MainLayout>