---
import MainLayout from "../layouts/MainLayout.astro";
import ContantImg from '../image/contant.png';

import ContantCard4 from "../components/contantCard4.astro";
---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Fredoka:wght@300&display=swap');
    .concert-one{
        font-family: 'Concert One', cursive;
    }
</style>
<MainLayout title="Contant">
    <div class="mt-[80px] "/>
    <div class="flex flex-col items-center z-[3]">
        <div class="flex w-screen h-[400px]">
            <div class="flex flex-col w-[100%] md:w-[45%] bg-[#83BBB2] justify-center items-center">
                <span class="text-[49px] concert-one text-white ml-[20px]">Communication Services</span>
                <hr class="w-[70%] h-[8px] bg-gray-700 rounded-full"/>
                <span>the connection between patients and psychologists</span>
            </div>
            <img src={ContantImg} class="w-[50%] border-4 border-l-0 border-[#83BBB2] hidden md:flex"/>
        </div>
        <div class="grid md:grid-cols-2 w-[90vw] gap-[15px] my-[50px]">
            
            <div class="h-full">
                <ContantCard4
                 title="Hepta Mental Health Clinc"
                 link="https://www.facebook.com/HeptaMentalHealth?mibextid=ZbWKwL"
                 phone="09885044884"
                 email="mailto:hepta.mhc@gmail.com"
                 address="215, Thiri Mingalar Road, Ywarma East Ward, Insein Township, Yangon, Myanmar"
                 />
            </div>
            <div class="h-full">
                <ContantCard4
                 title="Dr. Thinne (Life Therapist)" 
                 link="https://www.facebook.com/HeptaMentalHealth?mibextid=ZbWKwL"/>
            </div>
            <div class="h-full">
                <ContantCard4
                 title="TK Counselling"
                 link="https://www.facebook.com/Tr-Khin-Psychological-Guidance-Counselling-Service-105714208452009/"
                 phone="09450334140"
                 email="mailto:tkcounsellingservice@gmail.com"
                 />
            </div>
            <div class="h-full">
                <ContantCard4
                 title="Mental Health by Dr. De De"
                 link="https://www.facebook.com/profile.php?id=100087066691635&mibextid=ZbWKwL"
                 phone="09771581433"
                 email="mailto:ayekyawt1956@gmail.com"
                 address="Sanchaung, Kyuntaw Street, Yangon, Myanmar"
                 />
            </div>
            <div class="h-full">
                <ContantCard4
                 title="Passionate Heart Mental Health" 
                 link="https://www.facebook.com/profile.php?id=100075651559328&mibextid=LQQJ4d"/>
            </div>
            <div class="h-full">
                <ContantCard4
                 title="Mental Hea"
                 link="https://www.facebook.com/mentalhealmm?mibextid=ZbWKwL"
                 phone="09963284841"
                 email="mailto:contact@mentalheal.com.mm"
                 address="Yangon, Myanmar"
                 />
            </div>
            <div class="h-full">
                <ContantCard4
                 title="Lin Yaung Chi Oo (Mental Health Hospital)"
                 link="https://www.facebook.com/profile.php?id=100057346183746&mibextid=ZbWKwL"
                 phone="09444567811"
                 email="mailto:linyaungchioo2019@gmail.com"
                 address="No.899,36 ward, Pin Lone Rd, North Dagon Township, Yangon, Myanmar"
                 />
            </div>
        </div>
    </div>
</MainLayout>