---
import MainLayout from '../layouts/MainLayout.astro';
import Quiz from '../components/quiz.astro';
import Categories from '../components/categories.astro';
import Home from '../components/home.astro';
---

<MainLayout title="Kyoe kalay">
	<div class="flex flex-col items-center">
		<Quiz/>
		<Categories/>
		<Home/>
	</div>
</MainLayout>
