---
import Logo from '../image/logo.png';
---
<style>
   
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Fredoka:wght@300&display=swap');
   h2{
        font-family: 'Fredoka One', cursive;
    }
    ul{
        font-family: 'Fredoka', sans-serif;
    }
    .nav{
        /* background-color: rgba(89, 185, 140, 0.5); */
        background-color: rgba(217, 229, 217, 0.8);
    }
</style>

<nav class="nav flex justify-between items-center h-[40px] md:h-[80px] px-[10px] md:px-[50px] z-[999] w-screen fixed">
    <div class="flex gap-2">
        <img src={Logo} class="w-[32px] h-[32px] md:w-[55px] md:h-[55px]"/>
        <h2 class="md:text-[30px] text-[13px] mt-[6px]">KYOE KALAY</h2>
    </div>
    <ul class="flex text-[18px] gap-5">
        <li><a class="hover:cursor-pointer hover:underline text-[10px]  sm:text-[15px] md:text-[18px] lg:text-[23px]" href="/">ပင်မစာမျက်နှာ</a></li>
        <li><a class="hover:cursor-pointer hover:underline text-[10px]  sm:text-[15px] md:text-[18px] lg:text-[23px]" href="/contant">စိတ်ပိုင်းဆိုင်ရာဆရာဝန်များ</a></li>
        <li><a id ="cate" class="hover:cursor-pointer hover:underline text-[10px]  sm:text-[15px] md:text-[18px] lg:text-[23px] hidden md:flex">Categories</a></li>
    </ul>
</nav>
<script>
    function scrollToPlay(id) {
    var element = document.getElementById(id);
    element.scrollIntoView({behavior: 'smooth'});
    }
    const cateLink = document.getElementById('cate');
    cateLink.addEventListener('click', ()=>{scrollToPlay('here')})
</script>