---
import Logo from '../image/logo.png';
---
<style>
   
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Fredoka:wght@300&display=swap');
   h2{
        font-family: 'Fredoka One', cursive;
    }
    ul{
        font-family: 'Fredoka', sans-serif;
    }
    .nav{
        background-color: rgba(89, 185, 140, 0.5);
    }
</style>

<nav class="nav flex justify-between items-center h-[80px] px-[50px] z-[999] w-screen fixed">
    <div class="flex gap-2">
        <img src={Logo} class="w-[55px] h-[55px]"/>
        <h2 class="text-[30px] mt-[6px]">KYOE KALAY</h2>
    </div>
    <ul class="flex text-[18px] gap-5">
        <li><a>Home</a></li>
        <li><a>Personal Advice</a></li>
        <li><a>Contant</a></li>
        <li><a>Categories</a></li>
    </ul>
</nav>