---
import Bg1 from '../image/mainPage/bg-1.png';
---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Fredoka:wght@300&display=swap');
    .concert-one{
        font-family: 'Concert One', cursive;
    }
</style>
<div class="">
    <img src={Bg1} class="w-full z-0"/>
    <div class="absolute top-[0px] z-[100] mt-[40vh] flex flex-col gap-[20vh] pl-[50px]">
        <span class="concert-one text-white text-[57px]">Let's feel free to talk <br> the world!</span>
        <button class="bg-[#EE9471] p-[20px] w-1/2 text-[30px] text-white rounded-lg">Mental Quiz</button>
    </div>
</div>
