---
import Bg1 from '../image/main page/bg-1.png';
---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Concert+One&family=Fredoka+One&display=swap');
    .concert-one{
        font-family: 'Concert One', cursive;
    }
</style>
<div class="top-0 relative">
    <img src={Bg1} class="absolute top-0 w-full z-0"/>
    <div class="absolute z-[100] mt-[40vh] flex flex-col gap-[20vh]">
        <span class="concert-one text-white text-[43px]">Let's feel free to talk <br> the world!</span>
        <button class="bg-gray-300 px-[60px] py-[30px]">Mental Quiz</button>
    </div>
</div>
