---
const {title,link} = Astro.props

import Facebook from '../../image/facebook.png';
---
<style>
    img{
        widows: 40px;
        height: 40px;
        margin-right: 20px;
    }
</style>
<div class="bg-white rounded-lg flex flex-col justify-center p-[50px] text-[20px] h-full">
    <span class="font-bold text-[22px] mb-[10px] mx-auto">{title}</span>
    <div class="flex my-[2.5px] text-blue-900">
        <img src={Facebook}/>
        <a href={link} class="underline">{link}</a>
    </div>
</div>